# core web
fastapi==0.115.12
uvicorn==0.34.2

# db
SQLAlchemy==2.0.40
psycopg2-binary==2.9.10

# auth
passlib==1.7.4
bcrypt==3.2.0
PyJWT==2.10.1
python-dotenv==1.1.0
email_validator==2.2.0

# http + ai
requests==2.32.3
openai==1.78.1

# data
numpy==1.26.4
pandas==2.2.3

# nlp
spacy==3.7.5
langid==1.1.6

# models / validation
pydantic>=2,<3
